<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>main</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style type="text/css">
        #table {
            border-collapse: collapse;
        }
        #table td {
            border: 1px solid black;
            padding: 5px;
        }
        table {
            width: 100%;
        }
        table td {
            text-align: center;
        }
    </style>
</head>
<body>
    <table id="table">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>year</td>
            <td>age</td>
            <td>country</td>
            <td>continent</td>
            <td>work</td>
            <td>money</td>
        </tr>
        {% for a in res %}
            <tr>
                <td>{{a[0]}}</td>
                <td>{{a[1]}}</td>
                <td>{{a[2]}}</td>
                <td>{{a[3]}}</td>
                <td>{{a[4]}}</td>
                <td>{{a[5]}}</td>
                <td>{{a[6]}}</td>
                <td>{{a[7]}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>