<!DOCTYPE HTML>
<html>

<head>
	<title>金錢的世界-世界富豪的排名</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
	<link href="{{url_for('static', filename='css/boxicons.min.css')}}" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
</head>

<body class="is-preload">
	<!-- Header -->
	<div id="header">
		<span class="logo icon solid fa-dollar-sign"></span>
		<h1>資料視覺化 第十組</h1>
		<p>金錢的世界-世界富豪的排名
			<br />
			吳若慈 簡筠方 王昭尹 許尚軒
		</p>
		<br />
		<i class='bx bx-dollar bx-tada bx-lg'></i>
	</div>

	<!-- Main -->
	<div id="main">
		<header class="major container medium">
			<h2>我們運用圖表的力量
				<br />
				來比對富豪們的金錢數
				<br />
				也觀察除此之外不為人知的秘密
			</h2>
			<p>我們主題之所以為富豪，是因為資產會隨時間變動又很好進行整理與討論，還可以觀察其變化與比對，還能觀察各種新事物，因此選擇此主題。</p>
			<p>在此，你們會看到不同產業的比例、富豪總資產與我們精心設計的互動介面，希望你們喜歡本次網頁設計。</p>
		</header>

		<div class="box alt container">
			<section class="feature left">
				<a href="/page1" class="image icon solid fa-table"><img
						src="{{url_for('static', filename='images/pic03.png')}}" alt="" /></a>
				<div class="content">
					<h3>表格-簡單地了解富豪們</h3>
					<p>我們會製作表格簡單比較富豪們的個人資料，除此之外還會附上篩選功能，跑條則會透過動態的表示描述各類資料。</p>
				</div>
			</section>
			<section class="feature right">
				<a href="/page2" class="image icon solid fa-chart-pie"><img
						src="{{url_for('static', filename='images/pic02.png')}}" alt="" /></a>
				<div class="content">
					<h3>圓餅圖</h3>
					<p>我們將透過圓餅圖來表示各類項目，包括國家、產業等...。圓餅圖可以簡易地讓我們透過肉眼觀察數據，比例的分布一目了然。</p>
				</div>
			</section>
			<section class="feature left">
				<a href="/page3" class="image icon solid fa-chart-bar"><img
						src="{{url_for('static', filename='images/pic03.png')}}" alt="" /></a>
				<div class="content">
					<h3>長條圖</h3>
					<p>我們將透過長條圖來表示各類項目，包括國家、產業等...。長條圖是很直觀比較項目差別的圖表，很適合比較。</p>
			</section>
			<section class="feature right">
				<a href="/page4" class="image icon solid fa-signal"><img
						src="{{url_for('static', filename='images/pic02.png')}}" alt="" /></a>
				<div class="content">
					<h3>動態柱狀圖</h3>
					<p>我們將透過動態柱狀圖來展示資產的分布，動態的展示讓我們更好地觀察變化。</p>
				</div>
			</section>
			<section class="feature left">
				<a href="/page5" class="image icon solid fa-cloud"><img
						src="{{url_for('static', filename='images/pic03.png')}}" alt="" /></a>
				<div class="content">
					<h3>地圖</h3>
					<p>我們將透過地圖觀察分布，透過地圖可以很直觀地觀察富豪們都分布於何處，透過顏色深淺觀察資產與人數，也附上篩選功能觀察年分。</p>
			</section>
			<section class="feature right">
				<a href="/page6" class="image icon solid fa-cloud"><img
						src="{{url_for('static', filename='images/pic02.png')}}" alt="" /></a>
				<div class="content">
					<h3>3D散點圖</h3>
					<p>我們透過3D的散點圖進行比較，相對於2D的散佈圖更好的比較資產、年紀與人數。</p>
			</section>
			<section class="feature left">
				<a href="/page7" class="image icon solid fa-list"><img
						src="{{url_for('static', filename='images/pic03.png')}}" alt="" /></a>
				<div class="content">
					<h3>互動式介面-我們與富豪的距離?</h3>
					<p>我們可以比較自己與富豪的差距，但如何比較?請點擊來深入瞭解吧!</p>
			</section>

		</div>

		<div class="box container">
			<header>
				<h2>分工表</h2>
			</header>
			<div class="table-container">
				<table class="default2" id="Table2">
					<thead>
						<tr>
							<th>student</th>
							<th>ID</th>
							<th>Contribution</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>吳若慈</td>
							<td>112502001</td>
							<td>簡報製作、文案撰寫、網頁設計</td>
						</tr>
						<tr>
							<td>王昭尹</td>
							<td>112502505</td>
							<td>製作圖表、網頁設計、前後端串接</td>
						</tr>
						<tr>
							<td>簡筠方</td>
							<td>112502506</td>
							<td>製作圖表、文案撰寫、網頁設計</td>
						</tr>
						<tr>
							<td>許尚軒</td>
							<td>110502516</td>
							<td>後端資料統整、前後端串接</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="footer"></div>
	<script>
		ScrollReveal().reveal('#header', {
			reset: true,
			delay: 0,
			distance: '20px',
			easing: 'ease-in-out',
			origin: 'bottom',
			interval: 200
		});

		ScrollReveal().reveal('.feature.left', {
			reset: true,
			delay: 0,
			distance: '20px',
			easing: 'ease-in-out',
			origin: 'left',
			interval: 200
		});

		ScrollReveal().reveal('.feature.right', {
			reset: true,
			delay: 0,
			distance: '20px',
			easing: 'ease-in-out',
			origin: 'right',
			interval: 200
		});

		ScrollReveal().reveal('.content', {
			reset: true,
			delay: 0,
			distance: 0,
			easing: 'ease-in-out',
			origin: 'center',
			opacity: 0,
			interval: 200
		});
	</script>

	<!-- Scripts -->
	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/util.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>