<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>data_example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>

<body>

    <form method="POST" id="myform3" action='/main'>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" value="資料" id="subscribe" name="sub">
        </div> 
        <script>
            document.getElementById('myform3').addEventListener('submit', function (e) {
                e.preventDefault(); // 阻止表單提交
                var formData = new FormData(this);
                formData.append("cate", "money, people, 2011, 2011");
    
                fetch('/main', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.text())
                .then(data => {
                    var responseData = JSON.parse(data);
                    if (responseData.res == "-1"){
                        console.log(responseData.data)
                        alert("看console");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        </script> 
    </form>
    
    <script>
        var sub = document.getElementById("subscribe");
    </script>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
</body>