<!DOCTYPE HTML>
<html>

<head>
    <title>互動式介面</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <div id="header">
        <span class="logo icon solid fa-dollar-sign"></span>
        <h1>互動式介面</h1>

    </div>

    <div id="main">
        <div class="box container">
            <header>
                <h2>比較自己與富豪的距離吧!</h2>
            </header>
            <section>
                <header>
                    <p>透過輸入自身自產，看看還要多少錢便可躍入富豪榜100名吧。</p>
                </header>
            </section>
            <div class="row">
                <div class="col-12">
                    <label for="yourMoney">輸入你的金錢:</label>
					<input class="text" type="text" id="yourMoney" value="" placeholder="$1000" />
                </div>
                <div class="col-6 col-12-mobilep">
                    <label for="yourAge">選擇你的年齡：</label>
                    <select id="yourAge">
                        <option value="0" selected>0~4</option>
                        <option value="1">5~9</option>
                        <option value="2">10~14</option>
                        <option value="3">15~19</option>
                        <option value="4">20~24</option>
                        <option value="5">25~29</option>
                        <option value="6">30~34</option>
                        <option value="7">35~39</option>
                        <option value="8">40~44</option>
                        <option value="9">45~49</option>
                        <option value="10">50~54</option>
                        <option value="11">55~59</option>
                        <option value="12">60~64</option>
                        <option value="13">65~69</option>
                        <option value="14">70~74</option>
                        <option value="15">75~79</option>
                        <option value="16">80~84</option>
                        <option value="17">85~89</option>
                        <option value="18">90~94</option>
                        <option value="19">95~99</option>
                        <option value="20">100~</option>
                    </select>
                </div>
                <div class="col-6 col-12-mobilep">
                    <label for="yourContinent">選擇你所在的洲：</label>
                    <select id="yourContinent">
                        <option value="all" selected>全</option>
                        <option value="Oceania">大洋洲</option>
						<option value="Africa">非洲</option>
						<option value="Asia">亞洲</option>
						<option value="Europe">歐洲</option>
						<option value="South America">南美洲</option>
						<option value="North America">北美洲</option>
                </div>
                <div class="col-12">
                    <ul class="actions special">
                        <li><input type="submit" value="Send"/></li>
                    </ul>
                </div>
            </div>
        </div>


        <ul class="actions special">
            <li><a href="/home" class="button">返回</a></li>
        </ul>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>