<!DOCTYPE HTML>
<html>

<head>
    <title>圓餅圖</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
</head>

<body class="is-preload">

    <!-- Header -->
    <div id="header">
        <span class="logo icon fa-paper-plane"></span>
        <h1>圓餅圖</h1>

    </div>

    <div id="main">

        <div class="box container">
            <header>
                <h2>圓餅圖</h2>
            </header>
            <section>
                <header>
                    <p>我們會用圓餅圖比較許多類型的項目，包括產業、年齡與國家等等...，圓餅圖可以很好觀察比例上的分布，我們可以透過篩選按鈕觀察不同年份的變化。
                    </p>
                    <p>透過篩選按鈕，可以更有效利用版面並且使其看起來更加整潔，配置也會更加好看，也更方便了我們分析資料，因此我們設立了篩選系統。</p>
                </header>
            </section>
            <!-- 選單-->
            <div class="row">
                <div class="col-12">
                    <label for="year1">選擇年分：</label>
                    <select id="year1">
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022" selected>2022</option>
                    </select>
                </div>
                <div class="col-6 col-12-mobilep">
                    <label for="topic1">選擇主題：</label>
                    <select id="topic1">
                        <option value="age">年紀</option>
                        <option value="work">工作</option>
                        <option value="continent" selected>洲</option>
                    </select>
                </div>
                <div class="col-6 col-12-mobilep">
                    <label for="topic2">選擇比較項目：</label>
                    <select id="topic2">
                        <option value="money">總資產</option>
                        <option value="people" selected>富豪人數</option>
                    </select>
                </div>
            </div>
            <script>
                var yearDropdown = document.getElementById("year1");
                var topic1Dropdown = document.getElementById("topic1");
                var topic2Dropdown = document.getElementById("topic2");

                function handleSelectionChange() {
                    var selectedYear = yearDropdown.options[yearDropdown.selectedIndex].value;
                    var selectedTopic1 = topic1Dropdown.options[topic1Dropdown.selectedIndex].value;
                    var selectedTopic2 = topic2Dropdown.options[topic2Dropdown.selectedIndex].value;


                    console.log("Selected Year: " + selectedYear);
                    console.log("Selected topic Method: " + selectedTopic1);
                    console.log("Selected topic Method: " + selectedTopic2);

                    // 在這裡可以執行其他相關的操作，或者將值傳遞給其他 JavaScript 檔案
                    let continent_people_2011 = [];
                    for (var k1 in res) {
                        for (var k2 in res[k1]) {
                            for (var y in res[k1][k2]) {
                                for (var i = 0; i < res[k1][k2][y].length; i++) {
                                    if (k1 == selectedTopic1 && k2 == selectedTopic2 && y == parseInt(selectedYear)) {
                                        let newEvaluation = {
                                            "name": res[k1][k2][y][i][0],
                                            "count": res[k1][k2][y][i][1]
                                        };
                                        continent_people_2011.push(newEvaluation);
                                    }
                                }
                            }
                        }
                    }
                    console.log(continent_people_2011);

                    let trace1 = {};
                    trace1.type = "pie";
                    trace1.title = selectedYear + "年各" + topic1Dropdown.options[topic1Dropdown.selectedIndex].text + topic2Dropdown.options[topic2Dropdown.selectedIndex].text;
                    trace1.labels = [];
                    trace1.values = [];
                    trace1.hole = 0.5;

                    for (let i = 0; i < continent_people_2011.length; i++) {
                        if (selectedTopic1 == "age") {
                            var number = parseInt(continent_people_2011[i]['name']);
                            if (number == -1) {
                                trace1.labels[i] = "nan";
                            } else if (number == 20) {
                                trace1.labels[i] = 5 * number + "~";
                            } else {
                                trace1.labels[i] = 5 * number + "~" + (5 * number + 4);
                            }
                        } else {
                            trace1.labels[i] = continent_people_2011[i]['name'];
                        }
                        trace1.values[i] = continent_people_2011[i]['count'];
                    }

                    let data = [];
                    data.push(trace1);

                    let layout = {
                        margin: {
                            t: 50,
                        }
                    };
                    Plotly.newPlot(myGraph, data, layout);
                }
                document.getElementById("year1").addEventListener("change", handleSelectionChange);
                document.getElementById("topic1").addEventListener("change", handleSelectionChange);
                document.getElementById("topic2").addEventListener("change", handleSelectionChange);
            </script>
            <style>
                #myGraph {
                    width: 100%;
                    height: 500px;
                }
            </style>

            <div id="res2" style="display: none;">{{res}}</div>
            <div id="myGraph"></div>
            <script>

                let res = JSON.parse(document.getElementById('res2').innerHTML);
                let continent_people_2011 = [];
                for (var k1 in res) {
                    for (var k2 in res[k1]) {
                        for (var y in res[k1][k2]) {
                            for (var i = 0; i < res[k1][k2][y].length; i++) {
                                if (k1 == "continent" && k2 == "people" && y == 2022) {
                                    let newEvaluation = {
                                        "name": res[k1][k2][y][i][0],
                                        "count": res[k1][k2][y][i][1]
                                    };
                                    continent_people_2011.push(newEvaluation);
                                }
                            }
                        }
                    }
                }
                console.log(continent_people_2011)

                let myGraph = document.getElementById('myGraph');

                let trace1 = {};
                trace1.type = "pie";
                trace1.title = "2022年各州富豪人數";  // 待改
                trace1.labels = [];
                trace1.values = [];
                trace1.hole = 0.5;

                for (let i = 0; i < continent_people_2011.length; i++) {
                    trace1.labels[i] = continent_people_2011[i]['name'];
                    trace1.values[i] = continent_people_2011[i]['count'];
                }

                let data = [];
                data.push(trace1);

                let layout = {
                    margin: {
                        t: 50,
                    }
                };
                Plotly.newPlot(myGraph, data, layout);
            </script>

        </div>

        <ul class="actions special">
            <li><a href="index.html" class="button">返回</a></li>
        </ul>
    </div>

    <!-- Scripts -->
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/browser.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/breakpoints.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/util.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/main.js')}}" />

</body>

</html>