<!DOCTYPE HTML>
<html>

<head>
    <title>地圖</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/inspector.css')}}">
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
    <script src="//unpkg.com/d3"></script>
</head>

<body class="is-preload">

    <!-- Header -->
    <div id="header">
        <span class="logo icon solid fa-dollar-sign"></span>
        <h1>地圖</h1>
    </div>

    <!-- Main -->
    <div id="main">
        <div id="res" style="display: none;">{{res}}</div>
        <div class="box container">
            <!-- 選單-->
            <div class="row">
                <div class="col-12">
                    <label for="data3">選擇資料：</label>
                    <select id="data3">
                        <option value="country_c">富豪人數</option>
                        <option value="country_m" selected>資產</option>
                    </select>
                </div>
            </div>
            &nbsp
            <div id="myGraph11"></div>
            <script>
                let myGraph11 = document.getElementById('myGraph11');
                document.getElementById("data3").addEventListener("change", updateGraph);

                window.addEventListener('load', function () {
                    updateGraph();
                });
                window.addEventListener('resize', function () {
                    updateGraph();
                });

                function updateGraph() {
                    let num = document.getElementById("data3").value;
                    let file1 = 'static/js/files/' + num + '.csv';
                    d3.csv(file1).then(getCSV_Data2);
                }

                function getCSV_Data2(rows) {
                    let choose = document.getElementById("data3").value;
                    function filter_and_unpack(rows, key, year) {
                        return rows.filter(row => row['year'] == year).map(row => row[key])
                    }

                    var frames = []
                    var slider_steps = []

                    var num = 2011;
                    for (var i = 0; i < 12; i++) {
                        var z = filter_and_unpack(rows, 'value', num)
                        var locations = filter_and_unpack(rows, 'country', num)
                        frames[i] = { data: [{ z: z, locations: locations, text: locations }], name: num }
                        slider_steps.push({
                            label: num.toString(),
                            method: "animate",
                            args: [[num], {
                                mode: "immediate",
                                transition: { duration: 300 },
                                frame: { duration: 300 }
                            }
                            ]
                        })
                        num += 1;
                    }

                    var layout = {
                        title: {
                            text: '世界富豪分布 2011~2022',
                            font: {
                                size: 20,
                                family: "Arial"
                            }
                        },
                        margin:{
                            t:50,
                            l:0,
                            r:0,
                            b:0
                        },
                        geo: {
                            scope: 'world',
                            countrycolor: 'rgb(255, 255, 255)',
                            showland: true,
                            landcolor: 'rgb(217, 217, 217)',
                            showlakes: true,
                            lakecolor: 'rgb(255, 255, 255)',
                            subunitcolor: 'rgb(255, 255, 255)',
                            lonaxis: {},
                            lataxis: {},
                            projection: {
                                type: 'robinson'
                            }
                        },
                        updatemenus: [{
                            x: 0.1,
                            y: 0,
                            yanchor: "top",
                            xanchor: "right",
                            showactive: false,
                            direction: "left",
                            type: "buttons",
                            pad: { "t": 87, "r": 10 },
                            buttons: [{
                                method: "animate",
                                args: [null, {
                                    fromcurrent: true,
                                    transition: {
                                        duration: 200,
                                    },
                                    frame: {
                                        duration: 500
                                    }
                                }],
                                label: "Play"
                            }, {
                                method: "animate",
                                args: [
                                    [null],
                                    {
                                        mode: "immediate",
                                        transition: {
                                            duration: 0
                                        },
                                        frame: {
                                            duration: 0
                                        }
                                    }
                                ],
                                label: "Pause"
                            }]
                        }],
                        sliders: [{
                            active: 0,
                            steps: slider_steps,
                            x: 0.1,
                            len: 0.9,
                            xanchor: "left",
                            y: 0,
                            yanchor: "top",
                            pad: { t: 50, b: 10 },
                            currentvalue: {
                                visible: true,
                                prefix: "Year:",
                                xanchor: "right",
                                font: {
                                    size: 20,
                                    color: "#666"
                                }
                            },
                            transition: {
                                duration: 300,
                                easing: "cubic-in-out"
                            }
                        }]
                    };
                    data = [{
                        type: 'choropleth',
                        locationmode: "country names",
                        autocolorscale: true,
                        locations: frames[0].data[0].locations,
                        z: frames[0].data[0].z,
                        text: frames[0].data[0].locations,
                        zauto: false,
                        zmin: 0,
                        zmax: 4500
                    }]
                    if(choose == "country_c"){
                        data[0].zmax = 800;
                    }

                    Plotly.newPlot(myGraph11, data, layout).then(function () {
                        Plotly.addFrames(myGraph11, frames);
                    });
                }

            </script>
        </div>

        <ul class="actions special">
            <li><a href="/home" class="button">返回</a></li>
        </ul>

    </div>

    <!-- Scripts -->
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/browser.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/breakpoints.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/util.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/main.js')}}" />



</body>

</html>