<!DOCTYPE HTML>
<html>

<head>
    <title>長條圖</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <div id="header">
        <span class="logo icon fa-paper-plane"></span>
        <h1>長條圖</h1>

    </div>

    <div id="main">
        <div class="box container">
            <header>
                <h2>長條圖</h2>
            </header>
            <section>
                <header>
                    <p>長條圖會被我們用來進行最多比較，因為比起圓餅圖，它更適合用來比較各種數據，比如平均金錢、產業與資產等等...。</p>
                </header>
            </section>
        </div>
    </div>

    <ul class="actions special">
        <li><a href="index.html" class="button">返回</a></li>
    </ul>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>