<!DOCTYPE HTML>
<html>

<head>
    <title>互動式介面</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <div id="header">
        <span class="logo icon fa-paper-plane"></span>
        <h1>互動式介面</h1>

    </div>

    <div id="main">
        <div class="box container">
            <header>
                <h2>比較自己與富豪的距離吧!</h2>
            </header>
            <section>
                <header>
                    <p>透過輸入自身自產，看看還要多少錢才能成為資產破億的富豪吧!</p>
                </header>

            </section>
        </div>


        <ul class="actions special">
            <li><a href="index.html" class="button">返回</a></li>
        </ul>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>