<!DOCTYPE HTML>
<html>

<head>
    <title>長條圖</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
</head>

<body class="is-preload">

    <!-- Header -->
    <div id="header">
        <span class="logo icon fa-dollar-sign"></span>
        <h1>長條圖</h1>

    </div>

    <div id="main">
        <div class="box container">
            <header>
                <h2>長條圖</h2>
            </header>
            <section>
                <header>
                    <p>長條圖會被我們用來進行最多比較，因為比起圓餅圖，它更適合用來比較各種數據，比如平均金錢、產業與資產等等...。</p>
                </header>
            </section>
            <!-- 選單-->
            <div class="row">
                <div class="col-12">
                    <label for="year_3_1">選擇年份：</label>
                    <select id="year_3_1">
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022" selected>2022</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="x">選擇主題：</label>
                    <select id="x">
                        <option value="age" selected>年紀</option>
                        <option value="continent">洲</option>
                        <option value="work">工作</option>
                        <option value="money">資產</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="y">選擇主題：</label>
                    <select id="y">
                        <option value="people" selected>富豪人數</option>
                        <option value="money">總資產</option>
                        <option value="money ave">平均資產</option>
                    </select>
                </div>
            </div>
            <style>
                #myGraph {
                    width: 100%;
                    height: 500px;
                }
            </style>
            <script>
                var year_3_1Dropdown = document.getElementById("year_3_1");
                var xDropdown = document.getElementById("x");
                var yDropdown = document.getElementById("y");

                function handleSelectionChange2() {
                    var selectedYear_3_1 = year_3_1Dropdown.options[year_3_1Dropdown.selectedIndex].value;
                    var selectedX = xDropdown.options[xDropdown.selectedIndex].value;
                    var selectedY = yDropdown.options[yDropdown.selectedIndex].value;

                    if (selectedX === "money") {
                        var moneyAveOption = document.querySelector('#y option[value="money ave"]');
                        moneyAveOption.disabled = true;
                        var moneyOption = document.querySelector('#y option[value="money"]');
                        moneyOption.disabled = true;
                        yDropdown.value = "people";
                        selectedY = "people";
                    } else {
                        var moneyAveOption = document.querySelector('#y option[value="money ave"]');
                        moneyAveOption.disabled = false;
                        var moneyOption = document.querySelector('#y option[value="money"]');
                        moneyOption.disabled = false;
                    }

                    console.log("Selected End Year: " + selectedYear_3_1);
                    console.log("Selected Topic 1: " + selectedX);
                    console.log("Selected Topic 2: " + selectedY);
                    var formData = { "cate": selectedX + ", " + selectedY + ", " + selectedYear_3_1 };
                    formData = JSON.stringify(formData);

                    fetch('/page3', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: formData
                    })
                        .then(response => response.text())
                        .then(data => {
                            var responseData = JSON.parse(data);
                            console.log(responseData.data)
                            res3 = responseData.data;
                            updateGraph();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }

                function updateGraph() {
                    let data = [];
                    for (let i = 0; i < res3.length; i++) {
                        let trace1 = {};
                        trace1.type = "bar";
                        trace1.name = res3[i][0];
                        trace1.x = [];
                        trace1.y = [];
                        trace1.x[0] = res3[i][0];
                        trace1.y[0] = res3[i][1];
                        trace1.marker = {
                            color: 'rgba(255, 200, 210, 1)'
                        };
                        trace1.showlegend = false;
                        data.push(trace1);
                    }

                    let layout = {
                        margin: {
                            t: 50,
                        }
                    };
                    Plotly.newPlot(myGraph, data, layout);
                }

                document.getElementById("year_3_1").addEventListener("change", handleSelectionChange2);
                document.getElementById("x").addEventListener("change", handleSelectionChange2);
                document.getElementById("y").addEventListener("change", handleSelectionChange2);
                window.addEventListener('load', function () {
                    updateGraph();
                });
            </script>
            <div id="res3" style="display: none;">{{res}}</div>
            <div id="myGraph"></div>
            <script>
                let res3 = JSON.parse(document.getElementById('res3').innerHTML);
                let myGraph = document.getElementById('myGraph');
                
            </script>
        </div>

        <!-- <div class="box container">
            <header>
                <h2>長條圖</h2>
            </header>
            <section>
                <header>
                    <p>長條圖會被我們用來進行最多比較，因為比起圓餅圖，它更適合用來比較各種數據，比如平均金錢、產業與資產等等...。</p>
                </header>
            </section>
            <div class="row">
                <div class="col-6 col-12-mobilep">
                    <label for="startYear">起始年份：</label>
                    <select id="startYear">
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022" selected>2022</option>
                    </select>
                </div>
                <div class="col-6 col-12-mobilep">
                    <label for="endYear">結束年份：</label>
                    <select id="endYear">
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022" selected>2022</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="topic1">選擇主題：</label>
                    <select id="topic1">
                        <option value="age">年紀</option>
                        <option value="money1" selected>資產</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="topic2">選擇主題：</label>
                    <select id="topic2">
                        <option value="age">年紀</option>
                        <option value="money1" selected>資產</option>
                    </select>
                </div>
            </div>
            <script>
                var startYearDropdown = document.getElementById("startYear");
                var endYearDropdown = document.getElementById("endYear");
                var topic1Dropdown = document.getElementById("topic1");
                var topic2Dropdown = document.getElementById("topic2");

                function handleSelectionChange2() {
                    var selectedStartYear = parseInt(startYearDropdown.options[startYearDropdown.selectedIndex].value);
                    var selectedEndYear = parseInt(endYearDropdown.options[endYearDropdown.selectedIndex].value);
                    var selectedTopic1 = topic1Dropdown.options[topic1Dropdown.selectedIndex].value;
                    var selectedTopic2 = topic2Dropdown.options[topic2Dropdown.selectedIndex].value;

                    if (selectedStartYear > selectedEndYear) {
                        endYearDropdown.value = selectedStartYear;
                        selectedEndYear = selectedStartYear;
                    }

                    console.log("Selected Start Year: " + selectedStartYear);
                    console.log("Selected End Year: " + selectedEndYear);
                    console.log("Selected Topic 1: " + selectedTopic1);
                    console.log("Selected Topic 2: " + selectedTopic2);

                    // 在這裡可以執行其他相關的操作，或者將值傳遞給其他 JavaScript 檔案
                }

                document.getElementById("startYear").addEventListener("change", handleSelectionChange2);
                document.getElementById("endYear").addEventListener("change", handleSelectionChange2);
                document.getElementById("topic1").addEventListener("change", handleSelectionChange2);
                document.getElementById("topic2").addEventListener("change", handleSelectionChange2);
            </script>
        </div> -->
    </div>

    <ul class="actions special">
        <li><a href="index.html" class="button">返回</a></li>
    </ul>
    </div>

    <!-- Scripts -->
    <link rel="stylesheet" href="{{url_for('static', filename='js/jquery.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/browser.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/breakpoints.min.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/util.js')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='js/main.js')}}" />

</body>

</html>